.header{
  background-color: #0B111D;
}

.auth-content{
  width: 30%;
  margin: 117px auto;
  padding: 20px;
  background-color: #eeee;
  border-radius: 5px;
  margin-bottom: 0px;
}

.auth-content form div{
  margin-bottom: 10px;
}

.auth-content form div .text-input{
  padding: .7rem 1rem;
  display: block;
  width: 100%;
  border-width: 5px;
  border: 1px solid #00adb3;
  border-radius: 5px;
  outline: none;
  color: #00adb3;
  line-height: 1.4rem;
}

.auth-content form p a{
  text-decoration: underline;
}

.auth-content form .btn-big{
  font-size: 17px;
  padding: 5px;
  display: block;
  width: 100%;
}